{% extends 'pharmacy-layout.html' %}




 {% block title %} {% endblock %} 
 
 
 {% block content %}
 
                     <section class="vbox">
                        <section class="scrollable padder">
                            <div class="m-b-md">
                                <h3 class="m-b-none">Store Issue History</h3> </div>
                            <section class="panel panel-default">
                                <div class="row wrapper">
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <input type="text" class="input-sm form-control" placeholder="Search"> <span class="input-group-btn"> <button class="btn btn-sm btn-default" type="button">Go!</button> </span>                                            </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped b-t b-light">
                                        <thead>
                                            <tr>
                                                <th class="th-sortable" data-toggle="class">Date<span class="th-sort"> <i class="fa fa-sort-down text"></i> <i class="fa fa-sort-up text-active"></i> <i class="fa fa-sort"></i> </span>                                                    </th>
                                                <th class="th-sortable" data-toggle="class">Issued to<span class="th-sort"> <i class="fa fa-sort-down text"></i> <i class="fa fa-sort-up text-active"></i> <i class="fa fa-sort"></i> </span>                                                    </th>
                                                <th class="th-sortable" data-toggle="class">Item<span class="th-sort"> <i class="fa fa-sort-down text"></i> <i class="fa fa-sort-up text-active"></i> <i class="fa fa-sort"></i> </span>                                                    </th>
                                                <th>Quantity</th>
                                                <th>Unit Category</th>
                                                <th class="th-sortable" data-toggle="class">Personnel<span class="th-sort"> <i class="fa fa-sort-down text"></i> <i class="fa fa-sort-up text-active"></i> <i class="fa fa-sort"></i> </span>                                                    </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Jul 25, 2013</td>
                                                <td>Ambulance</td>
                                                <td>Idrawfast</td>
                                                <td>4</td>
                                                <td>packetss</th>
                                                <td>Idrawfast</td>
                                            </tr>
                                            <tr>
                                                <td>Jul 25, 2013</td>
                                                
                                                <td>Dispensary</td>
                                                <td>Idrawfast</td>
                                                <td>4</td>
                                                <td>bottles</th>
                                                <td>Idrawfast</td>
                                            </tr>
                                            <tr>
                                                <td>Jul 25, 2013</td>
                                                <td>Laboratory</td>
                                                <td>Idrawfast</td>
                                                <td>4</td>
                                                <td>pieces</th>
                                                <td>Idrawfast</td>
                                            </tr>
                                            <tr>
                                                <td>Jul 25, 2013</td>
                                                <td>A&E</td>
                                                <td>Idrawfast</td>
                                                <td>4</td>
                                                <td>tablets</th>
                                                <td>Idrawfast</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </section>
                    </section>
 
 {% endblock %}