{% extends 'pharmacy-layout.html' %}

 {% block title %} {% endblock %} 
 
 
 {% block content %}
 
   <section class="hbox stretch">
                        <aside>
                            <section class="vbox">
                                <section class="scrollable wrapper">
                                    <div class="timeline">
                                        <article class="timeline-item">
                                            <div class="timeline-caption">
                                                <div class="panel panel-default">
                                                    <div class="panel-body"> <span class="arrow left"></span> <span class="timeline-icon"><i class="time-icon bg-primary"></i></span>                                                        <span class="timeline-date">12:25 am</span>
                                                        <div class="textbg">Prescription</div>
                                                        <h5> 5 tablets of Panadol </h5> </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="timeline-caption">
                                                <div class="panel bg-primary lt no-borders">
                                                    <div class="panel-body"> <span class="timeline-icon"><i class="fa fa-bell-o time-icon bg-primary"></i></span>                                                        <span class="timeline-date">7:30 am</span>
                                                        <div class="text-sm">Dispense</div>
                                                        <div class="m-t-sm timeline-action">
                                                            <button class="btn btn-sm btn-default btn-bg"><i class="fa fa-pause"></i> Deny</button>
                                                            <button class="btn btn-sm btn-default btn-bg"><i class="fa fa-check"></i> Confirm</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item">
                                            <div class="timeline-caption">
                                                <div class="panel panel-default">
                                                    <div class="panel-body"> <span class="arrow left"></span> <span class="timeline-icon"><i class=" time-icon bg-success"></i></span>                                                        <span class="timeline-date">10:00 am</span>
                                                        <div class="text-bg">Dispensary</div>
                                                        <h5> 2 packets of gloves </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="timeline-caption">
                                                <div class="panel panel-default">
                                                    <div class="panel-body"> <span class="arrow right"></span> <span class="timeline-icon"><i class="time-icon bg-primary"></i></span>                                                        <span class="timeline-date">12:25 am</span>
                                                        <div class="textbg">Prescription</div>
                                                        <h5> 5 tablets of Panadol </h5> </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item">
                                            <div class="timeline-caption">
                                                <div class="panel bg-primary lt no-borders">
                                                    <div class="panel-body"> <span class="timeline-icon"><i class="fa fa-bell-o time-icon bg-primary"></i></span>                                                        <span class="timeline-date">7:30 am</span>
                                                        <div class="text-sm">Dispense</div>
                                                        <div class="m-t-sm timeline-action">
                                                            <button class="btn btn-sm btn-default btn-bg"><i class="fa fa-pause"></i> Deny</button>
                                                            <button class="btn btn-sm btn-default btn-bg"><i class="fa fa-check"></i> Confirm</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="timeline-item alt">
                                            <div class="timeline-caption">
                                                <div class="panel panel-default">
                                                    <div class="panel-body"> <span class="arrow right"></span> <span class="timeline-icon"><i class=" time-icon bg-success"></i></span>                                                        <span class="timeline-date">10:00 am</span>
                                                        <div class="text-bg">Dispensary</div>
                                                        <h5> 2 packets of gloves </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </section>
                            </section>
                        </aside>
                        <!-- /.aside -->
                    </section>
 
 
 {% endblock %}